$("#estate_process_query_list").removeClass("fa fa-spinner fa-spin fa-lg");
$('#resource_list').find('li').remove();
$('#resource_content').children('div').remove();

$process_state = $('#process_state')

function update_process_state (add_class, strong, text) {
    $process_state.removeClass("alert-warning alert-success alert-danger alert-info hidden")
            .addClass(add_class).text("")
            .append("<strong></strong> " + text)
            .find("strong").text(strong);
}

<% @votables.each_with_index do |(key, value), index| %>

	$("#result_table").append($('<div class="resource_<%= index %>"></div>'));

	myVoview =  new voview({input: {form: "searchForm"}, widgetID: "resource_<%= index %>"});
	myVoview.renderObject.enableRowSelection();
	myVoview.gotVotable($.parseXML("<%= escape_javascript(value) %>"));

	$resource = $('.resource_<%= index %>');

	$li = $("<li></li>");
	$a = $('<a href="#test<%= index %>" data-toggle="tab"><%= key %></a>');
	$li.append($a);

	$tab = $('<div class="tab-pane" id="test<%= index %>"></div>');
	$tab.append($resource);

	$('#resource_list').append($li);
	$('#resource_content').append($tab);

<% end %>
update_process_state("alert-success", "Well done!", "your query has been processes successfully");