<%= render 'panel_heading' %>
 <div id="actions_states" class="alert fade in alert-info" style="margin-bottom:0px">

  		<strong>Heads up! </strong> This will show the states of actions

</div>
 <div class="panel-body" id="query-form-panel-body">                    
	<!--=== Form ===-->
	<%= form_tag "/query/imagesearch", remote: true, class: 'form-horizontal', role: 'form', method: 'get' , name: 'searchForm', id: 'queryForm' do %>

		<!-- SESAME -->
		<div class="form-group">
			<%= label_tag :source_name_sesame, 'Source name (Sesame)', class: 'col-sm-4 control-label' %>
			<div class="col-sm-5" data-popbox='ra'>
				<%= text_field_tag :source_name_sesame, nil, class: 'form-control' %>
			</div>
			<span class="input-group-btn" style="display:inline-block;margin-left:-3px;">
				<%= button_tag(type: "submit", class: "btn-u btn-u-default", name: "commit", value:"sesame_search", id: 'sesame_search') do %>
				    <i class="fa fa-angle-right fa-lg"></i>
				<% end %>
			</span>
		</div>
		<div class="form-group">
			<%= label_tag :ra, 'RA', class: 'col-sm-4 control-label' %>
			<div class="col-sm-5" data-popbox='ra'>
				<%= text_field_tag :ra, nil, class: 'form-control' %>
			</div>
		</div>
		<div class="form-group">
			<%= label_tag :dec, 'DEC', class: 'col-sm-4 control-label' %>
			<div class="col-sm-5"  data-popbox='dec'>
					<%= text_field_tag :dec, nil, class: 'form-control' %>
			</div>
		</div>
		<div class="form-group">
			<%= label_tag :size, 'Angular Size', class: 'col-sm-4 control-label' %>
			<div class="col-sm-5" data-popbox='ang_size'>
					<%= text_field_tag :size, nil, class: 'form-control' %>
			</div>
		</div>
		
		<!--=== Optionals ===-->
			
			
		<div id="optional" style="display:none;">

			<hr>
			<div class="form-group">
				<%= label_tag :intersect, 'Intersect', class: 'col-sm-4 control-label' %>
				<div class="col-sm-5" data-popbox='default'>
					<%= select_tag :intersect, options_for_select([ "", "COVERS", "ENCLOSED", "CENTER", "OVERLAPS" ], ""), class: 'form-control' %>
				</div>
			</div>

			<div class="form-group">
				<%= label_tag :naxis, 'N Axis', class: 'col-sm-4 control-label' %>
				<div class="col-sm-5" data-popbox='default'>
					<%= number_field_tag :naxis, nil, class: 'form-control'%>
				</div>
			</div>

			<div class="form-group">
				<%= label_tag :cframe, 'C Frame', class: 'col-sm-4 control-label' %>
				<div class="col-sm-5" data-popbox='default'>
					<%= select_tag :cframe, options_for_select([ "", "ICRS", "FK5", "FK4", "ECL", "GAL", "SGAL" ], ""), class: 'form-control' %>
				</div>
			</div>

			 <div class="form-group">
				<%= label_tag :rotang, 'Rotang', class: 'col-sm-4 control-label' %>
				<div class="col-sm-5" data-popbox='default'>
						<%= number_field_tag :rotang, nil, class: 'form-control'%>
				</div>
			</div>

			<div class="form-group">
				<%= label_tag :proj, 'Proj', class: 'col-sm-4 control-label' %>
				<div class="col-sm-5" data-popbox='default'>
					<%= select_tag :proj, options_for_select([ "", "TAN", "SIN", "ARC" ], ""), class: 'form-control' %>
				</div>
			</div>  

			<div class="form-group">
				<%= label_tag :data_type, 'Data Type', class: 'col-sm-4 control-label' %>
				<div class="col-sm-5" data-popbox='default'>
					<%= select_tag :data_type, options_for_select([ "", "FITS", "VOTable", "JPG" ], ""), class: 'form-control' %>
				</div>
			</div>

			<div class="form-group">
				<%= label_tag :verb, 'Verbosity', class: 'col-sm-4 control-label' %>
				<div class="col-sm-5" data-popbox='default'>
					<%= select_tag :verb, options_for_select([ "", "1", "2", "3"], ""), class: 'form-control' %>
				</div>
			</div>

		</div>

		<script type="text/javascript">
			function hideShow(content) {
			 var element=document.getElementById(content);
				 if(element.style.display == 'block') {
						element.style.display = 'none';
				 } else {
						element.style.display = 'block';
				 }
			}
		</script>

		<div class="text-center" style="margin-left:65px">
			<a href="javascript:void(0);" onclick="hideShow('optional')">Optional parameters   
				<i class="fa fa-sort"></i>
			</a>
		</div>
		<BR>

		<!--=== End Optionals ===-->

		<div class="form-group">
			<div class="col-sm-offset-4 col-sm-5">
					<%= submit_tag 'Add Query', class: 'btn btn-default btn-block' %>
			</div>
		</div>
	<% end %> <!--=== End Form ===-->   

	<%= form_tag "/query/imagesearch", multipart: true, remote: true, class: 'form-horizontal', id: 'csvForm', authenticity_token: true do %>
	<div class="form-group">
		<%= label_tag :file, 'Import CSV File', class: 'col-sm-4 control-label' %>
		<div class="col-sm-5" data-popbox='csv'>
		<%= file_field_tag :file, :accept => "text/csv", class: 'form-control'%>
		</div>
	</div>

	<div id="optional2" style="display:none;">

			<!-- SESAME -->
		<div class="form-group">
			<%= label_tag :source_name_sesame, 'Example CSV File', class: 'col-sm-4 control-label' %>
			<div class="col-sm-5" data-popbox='ex'>
				<%= text_area :source_name_sesame, nil, class: 'form-control', value: "\"sun\";2;2;2\n"+"\"moon\";3;3;3", resize: 'none', disabled: true%>
			</div>
		</div>

	</div>


	<div class="text-center" style="margin-left:65px">
		<a href="javascript:void(0);" onclick="hideShow('optional2')">Example CSV File   
			<i class="fa fa-sort"></i>
		</a>
	</div>
	<BR>

	<div class="form-group">
			<div class="col-sm-offset-4 col-sm-5">
					<%= submit_tag 'Add File to Query', class: 'btn btn-default btn-block' %>
			</div>
	</div>
	
	<script type="text/javascript">
			function hideShow(content) {
			 var element=document.getElementById(content);
				 if(element.style.display == 'block') {
						element.style.display = 'none';
				 } else {
						element.style.display = 'block';
				 }
			}
		</script>

	<% end %> <!--=== End CSV Form ===-->   

</div>