/* 
 * This file is part of ChiVO, the Chilean Virtual Observatory
 * A project sponsored by FONDEF (D11I1060)
 * Copyright (C) 2015 
 *      Universidad Tecnica Federico Santa Maria Mauricio Solar
 *                                               Marcelo Mendoza
 *      Universidad de Chile                     Diego Mardones
 *      Pontificia Universidad Catolica          Karim Pichara
 *      Universidad de Concepcion                Ricardo Contreras
 *      Universidad de Santiago                  Victor Parada
 *
 * This program is free software; you can redistribute it and/or modify 
 * it under the terms of the GNU General Public License as published by 
 * the Free Software Foundation; either version 2 of the License, or 
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 
 * 02110-1301, USA or visit <http://www.gnu.org/licenses/>.
*/


$("#estate_process_query_list").removeClass("fa fa-spinner fa-spin fa-lg");
$('#resource_list').find('li').remove();
$('#resource_content').children('div').remove();



<% @votables.each_with_index do |(key, value), index| %>

	$("#query_result").append($('<div class="resource_<%= index %>"></div>'));

	myVoview =  new voview({input: {form: "searchForm"}, widgetID: "resource_<%= index %>"});
	myVoview.renderObject.enableRowSelection();
	myVoview.gotVotable($.parseXML("<%= escape_javascript(value) %>"));
	
	$resource = $('.resource_<%= index %>');

	$li = $("<li></li>");
	$a = $('<a href="#test<%= index %>" data-toggle="tab"><%= key %></a>');
	$li.append($a);

	$tab = $('<div class="tab-pane" id="test<%= index %>"><%= key %></div>');
	$tab.append($resource);

	$('#resource_list').append($li);
	$('#resource_content').append($tab);

	var table = document.getElementById("resource_<%= index %>_data");
        for (var i = 0; i < table.rows.length ; i++) {
                row = table.rows[i];
                for (var j = 0; j < row.cells.length ; j++ ){
                        cell = row.cells[j]
                        if(cell.innerHTML.search("http")!=-1){
                                var url = cell.innerHTML;
                                url='<a href=' + url + '>' + url + '</a>';
                                cell.innerHTML = url;
                        }
                }
        }

<% end %>
