$("#estate_process_query_list").removeClass("fa fa-spinner fa-spin fa-lg");
$('#resource_list').find('li').remove();
$('#resource_content').children('div').remove();
<% @votables.each_with_index do |(key, value), index| %>

	$("#query_result").append($('<div class="resource_<%= index %>"></div>'));

	myVoview =  new voview({input: {form: "searchForm"}, widgetID: "resource_<%= index %>"});
	myVoview.renderObject.enableRowSelection();
	myVoview.gotVotable($.parseXML("<%= escape_javascript(value) %>"));
	
	$resource = $('.resource_<%= index %>');

	$li = $("<li></li>");
	$a = $('<a href="#test<%= index %>" data-toggle="tab"><%= key %></a>');
	$li.append($a);

	$tab = $('<div class="tab-pane" id="test<%= index %>"><%= key %></div>');
	$tab.append($resource);

	$('#resource_list').append($li);
	$('#resource_content').append($tab);

<% end %>