<!--
     This file is part of ChiVO, the Chilean Virtual Observatory
     Copyright (C) 2015 Jonathan Antognini Cavieres <jonathan.antognini@gmail.com>
                        Cesar Parra Moreno <cparra@csrg.cl>
                        Constanza Soto <constanza.soto.12@sansano.usm.cl>
                        Jose Miguel Castro <jcastro@csrg.cl>
                        Marco Salinas <marco.salinas.12@sansano.usm.cl>
                        Felipe Morales <felipe.moralesm.12@sansano.usm.cl>
                        Luis E. Arevalo R. <arevalo@luchox.cl>
     
     This program is free software; you can redistribute it and/or modify 
     it under the terms of the GNU General Public License as published by 
     the Free Software Foundation; either version 2 of the License, or 
     (at your option) any later version.
     
     This program is distributed in the hope that it will be useful,
     but WITHOUT ANY WARRANTY; without even the implied warranty of
     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
     GNU General Public License for more details.
     
     You should have received a copy of the GNU General Public License
     along with this program; if not, write to the Free Software
     Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 
     02110-1301, USA or visit <http://www.gnu.org/licenses/>.
-->


<%= javascript_include_tag "services/all_searches" %>

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
 	<div class="container">
    	<h1 class="pull-left">Search</h1>
    	<ul class="pull-right breadcrumb">
      		<li><%= link_to 'Home', root_path %></li>
      		<li>Services</li>
      		<li class="active">All Searches</li>
    	</ul>
  	</div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<div class="container"> <!--== Content Part ==-->										
	<div class="tab-v2 col-sm-12" style="margin-left:50px;">                
		<ul class="nav nav-tabs">         
			<li class="active" ><a href="#query_form" data-toggle="tab">Query Form</a></li>
			<li><a href="#query_list" data-toggle="tab" >Query List</a></li>       
			<li><a href="#result_table" data-toggle="tab">Result Table</a></li>               
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="query_form" >
				<%= render 'query/type_alma/query_form' %>
  		</div>
  		<div class="tab-pane" id="query_list">
    		<%= render 'query/type_alma/query_list' %>
  		</div>   
  		<div class="tab-pane" id="result_table">
  			<%= render 'query/type_alma/result_table' %>
  		</div>
    </div>
	</div>
</div> <!--== End Content Part ==-->

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
