<%= javascript_include_tag "voview" %>
<%= stylesheet_link_tag  "voview", media: "all" %>

<script type="text/javascript">//<![CDATA[
  /**
    Make a new VOView object.  The form containing the input information is 
    specified, as well as the widgetID, which is used below to indicate where 
    in the page the VOView display will be placed.
  **/
  myVoview =  new voview({input: {form: "searchForm"}, widgetID: "voviewTab"});
  /**
    Uncomment the line below to show an example of reformatting a column.  This
    example really only works with the example_input.xml file.
  **/
  // myVoview.renderObject.columnFormat("name", "<a onclick=\"return nw(this.href, this.target)\" href=\"http://simbad.u-strasbg.fr/sim-id.pl?protcol=html&Ident=@@&Frame3=G\" title=\"Link to Simbad details\">@@</a>");
  myVoview.renderObject.enableRowSelection();
  //]]>
</script>

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
  <div class="container">
    <h1 class="pull-left">Simple Image Search</h1>
    <ul class="pull-right breadcrumb">
      <li><%= link_to 'Home', root_path %></li>
      <li>Services</li>
      <li class="active">Simple Image Search</li>
    </ul>
  </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<div class="container">   
  <div class="row margin-bottom-30">
    <div class="col-md-6 md-margin-bottom-40 col-md-offset-3">
      <%= form_tag "", class: 'form-horizontal', role: 'form', method: 'get', name: 'searchForm', onsubmit: 'return myVoview.start()' do %>
        <div class="form-group">
          <%= label_tag :ra, 'RA', class: 'col-sm-2 control-label' %>
          <div class="col-sm-8">
            <%= text_field_tag :ra , nil, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <%= label_tag :dec, 'DEC', class: 'col-sm-2 control-label' %>
          <div class="col-sm-8">
            <%= text_field_tag :dec, nil, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <%= label_tag :angular, 'Angular Size', class: 'col-sm-2 control-label'%>
          <div class="col-sm-8">
            <%= text_field_tag :angular, nil, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <%= label_tag :angular, 'Data type', class: 'col-sm-2 control-label'%>
          <div class="col-sm-8">
            <%= select_tag :format, options_for_select(["FITS", "VOTable", "JPG"]), class: 'form-control'%>
          </div>
        </div>
        <%= hidden_field_tag :sterm, "http://localhost:3000/example_input.xml", name: 'query_string' %>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <%= button_tag(type: 'submit', class: "btn btn-default") do %> Search <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row margin-bottom-30">
    <div class="col-md-12 md-margin-bottom-40">
      <div class="voviewTab">
      </div>
    </div>
  </div>
</div>

<br><br><br><br><br><br><br>