<%= javascript_include_tag "form_options/option" %>
<%= javascript_include_tag "form_options/size_panel" %>

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
  <div class="container">
    <h1 class="pull-left">Simple Image Search</h1>
    <ul class="pull-right breadcrumb">
      <li><%= link_to 'Home', root_path %></li>
      <li>Services</li>
      <li class="active">Simple Image Search</li>
    </ul>
  </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<%= render 'pop_boxes' %>

<!--=== Content Part ===-->
<div class="container">   
  <div class="row margin-bottom-30">
    <div class="col-md-8 md-margin-bottom-40 col-md-offset-2">
      
      <div class="panel panel-default margin-bottom-40">
        <%= render 'query/simple_image_search/query_form' %>
      </div>

      <div class="panel panel-default margin-bottom-40">
        <%= render 'query/simple_image_search/query_list' %>
      </div> 

      <div class="panel panel-default margin-bottom-40">
        <%= render 'query/simple_image_search/query_result' %>
      </div> 

    </div>
  </div>  
  <button id='panel_medium' style="display: none;"></button>
  <div class="row margin-bottom-30">
      <div class="col-md-12 md-margin-bottom-40">
          <div class="voviewTab">
          </div>
      </div>
  </div>
</div>
<!--=== End Content Part ===-->

<br><br><br><br><br><br><br>