<div class="row">
  <div class="span12">
    <div class="page-header">
      <h1>Services</h1>
    </div>
    <!-- Navbar
    -->
    <ul class="nav nav-tabs">
      <li><a data-toggle="tab" href="#conesearch">Cone search</a></li>
		<li><a data-toggle="tab" href="#tablesearch">Table Search</a></li>
		<li><a data-toggle="tab" href="#imagesearch">Image Search</a></li>
      <li><a data-toggle="tab" href="#advancesearch">Advance Search</a></li>
		<li><a data-toggle="tab" href="#example">VOView Example</a></li>
    </ul>
  </div>
</div>
<!-- Navbar content
-->
<div class="tab-content">
  <div class="tab-pane fade active in" id="conesearch">
     <%= render(:partial => "conesearch") %>
  </div>
  <div class="tab-pane fade" id="tablesearch">
	  <%= render(:partial => "tablesearch") %>
  </div>
  <div class="tab-pane fade" id="imagesearch">
	  <%= render(:partial => "imagesearch") %>
  </div>
  <div class="tab-pane fade" id="advancesearch">
	  <%= render(:partial => "advancesearch") %>
  </div>
  <div class="tab-pane fade" id="example">
	  <%= render(:partial => "example") %>
  </div>
  
  
  
  <div class="row">
    <div class="span12">
      <div id="results"></div>
    </div>
  </div>
</div>
