<!-- 
     This file is part of ChiVO, the Chilean Virtual Observatory
     A project sponsored by FONDEF (D11I1060)
     Copyright (C) 2015 Universidad Tecnica Federico Santa Maria
                        Universidad de Chile
                        Pontificia Universidad Catolica
                        Universidad de Concepcion
                        Universidad de Santiago
    
     This program is free software; you can redistribute it and/or modify 
     it under the terms of the GNU General Public License as published by 
     the Free Software Foundation; either version 2 of the License, or 
     (at your option) any later version.
    
     This program is distributed in the hope that it will be useful,
     but WITHOUT ANY WARRANTY; without even the implied warranty of
     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
     GNU General Public License for more details.
    
     You should have received a copy of the GNU General Public License
     along with this program; if not, write to the Free Software
     Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 
     02110-1301, USA or visit <http://www.gnu.org/licenses/>.
-->


<%= javascript_include_tag "form_options/option" %>
<%= javascript_include_tag "form_options/size_panel" %>
<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
  <div class="container">
    <h1 class="pull-left">Simple Spectral Search</h1>
    <ul class="pull-right breadcrumb">
      <li><%= link_to 'Home', root_path %></li>
      <li>Services</li>
      <li class="active">Simple Spectral Search</li>
    </ul>
  </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<%= render 'pop_boxes' %>

<!--=== Content Part ===-->
<div class="container">   
  <div class="tab-v2 col-sm-12" style="margin-left:50px;">                
    <ul class="nav nav-tabs">         
      <li class="active" ><a href="#query_form" data-toggle="tab">Query Form</a></li>
      <li><a href="#query_list" data-toggle="tab" >Query List</a></li>       
      <li><a href="#query_result" data-toggle="tab">Query Results</a></li>               
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="query_form">
        <%= render 'query/simple_spectral_search/query_form' %>
      </div>

      <div class="tab-pane" id="query_list">
        <%= render 'query/simple_spectral_search/query_list' %>
      </div> 

      <div class="tab-pane" id="query_result">
        <%= render 'query/simple_spectral_search/query_result' %>
      </div>
    </div>
  </div>
</div>
<!--=== End Content Part ===-->

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
