<!-- 
     This file is part of ChiVO, the Chilean Virtual Observatory
     A project sponsored by FONDEF (D11I1060)
     Copyright (C) 2015 Universidad Tecnica Federico Santa Maria
                        Universidad de Chile
                        Pontificia Universidad Catolica
                        Universidad de Concepcion
                        Universidad de Santiago
    
     This program is free software; you can redistribute it and/or modify 
     it under the terms of the GNU General Public License as published by 
     the Free Software Foundation; either version 2 of the License, or 
     (at your option) any later version.
    
     This program is distributed in the hope that it will be useful,
     but WITHOUT ANY WARRANTY; without even the implied warranty of
     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
     GNU General Public License for more details.
    
     You should have received a copy of the GNU General Public License
     along with this program; if not, write to the Free Software
     Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 
     02110-1301, USA or visit <http://www.gnu.org/licenses/>.
-->


<h2>Options</h2>                        
<div class="group">
	<%= label_tag :result_view, 'Results view', class: 'control-label' %> <br>					    		
    <%= radio_button_tag 'result_view', 'raw_data', true %><%= label_tag :result_view_raw_data, 'raw data', class: ""%>                              
    <%= radio_button_tag 'result_view', 'project' %><%= label_tag :result_view_project, 'project', class: "" %>
    <div class="container-tooltip" >
		<div class="alert-info">
			<strong>Results View</strong> 
			<p>Alter the format of the results displayed.</p><br>
			<strong>Description</strong> 
			<p>Select a project-oriented view of the search results, 
				or a more detailed view of the execution blocks.</p><br>
		</div>
	</div>  
</div>
<br>
<div class="group">
	<%= label_tag :release_status, 'Release status', class: 'control-label' %>
	<br>
	<%= radio_button_tag 'release_status', 'public', true %><%= label_tag :release_status_public, 'public data', class: ""%> 
	<%= radio_button_tag 'release_status', 'all' %><%= label_tag :release_status_all, 'all data', class: ""%>
	<div class="container-tooltip" >
		<div class="alert-info">
			<strong>Filter data</strong> 
			<p>Filter only Public data or show all of it.</p><br>
			<strong>Description</strong> 
			<p>Filter down only the Public data, or attempt 
				to download proprietary data by selecting 'No filter'.</p>
		</div>
	</div>  
</div>
