<!-- 
     This file is part of ChiVO, the Chilean Virtual Observatory
     Copyright (C) 2015 Jonathan Antognini Cavieres <jonathan.antognini@gmail.com>
                        Cesar Parra Moreno <cparra@csrg.cl>
                        Constanza Soto <constanza.soto.12@sansano.usm.cl>
                        Jose Miguel Castro <jcastro@csrg.cl>
                        Marco Salinas <marco.salinas.12@sansano.usm.cl>
                        Felipe Morales <felipe.moralesm.12@sansano.usm.cl>
                        Luis E. Arevalo R. <arevalo@luchox.cl>
     
     This program is free software; you can redistribute it and/or modify 
     it under the terms of the GNU General Public License as published by 
     the Free Software Foundation; either version 2 of the License, or 
     (at your option) any later version.
     
     This program is distributed in the hope that it will be useful,
     but WITHOUT ANY WARRANTY; without even the implied warranty of
     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
     GNU General Public License for more details.
     
     You should have received a copy of the GNU General Public License
     along with this program; if not, write to the Free Software
     Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 
     02110-1301, USA or visit <http://www.gnu.org/licenses/>.
-->


<h2>Polarisation</h2>                        
<div class="group">
	<%= label_tag :polarisation_type, 'Polarisation type', class: 'control-label' %>
	<%= select_tag :polarisation_type, options_for_select([
		["Stokes I", "stoke_i"],
		["Single", "single"],
		["Dual", "dual"],
		["Full", "full"]]), 
		class: 'form-control', multiple: true %>
	<div class="multiselect-polarisation-type">
    	<button type="button" id="polarisation_type_button" name="polarisation_type_button" class="form-control">           
			<%= fa_icon 'angle-down' %>   
		</button>
		<div>					    				
			<ul>
				<li>
					<label for="stoke_i"><%= check_box_tag 'stoke_i' %>Stoke I</label>
				</li>
				<li>
					<label for="single"><%= check_box_tag 'single' %>Single</label>
				</li>
				<li>
					<label for="dual"><%= check_box_tag 'dual' %>Dual</label>
				</li>
				<li>
					<label for="full"><%= check_box_tag 'full' %>Full</label>
				</li>
			</ul>
		</div>										
  	</div>
  	<div class="container-tooltip" >
		<div class="alert-info">
			<strong>Polarisation type</strong> 
			<p>Polarisation products.</p><br>
			<strong>Description</strong> 
			<p>Polarisation products provided.</p><br>
		</div>
	</div>  
</div>
