<!--
     This file is part of ChiVO, the Chilean Virtual Observatory
     Copyright (C) 2015 Jonathan Antognini Cavieres <jonathan.antognini@gmail.com>
                        Cesar Parra Moreno <cparra@csrg.cl>
                        Constanza Soto <constanza.soto.12@sansano.usm.cl>
                        Jose Miguel Castro <jcastro@csrg.cl>
                        Marco Salinas <marco.salinas.12@sansano.usm.cl>
                        Felipe Morales <felipe.moralesm.12@sansano.usm.cl>
                        Luis E. Arevalo R. <arevalo@luchox.cl>
     
     This program is free software; you can redistribute it and/or modify 
     it under the terms of the GNU General Public License as published by 
     the Free Software Foundation; either version 2 of the License, or 
     (at your option) any later version.
     
     This program is distributed in the hope that it will be useful,
     but WITHOUT ANY WARRANTY; without even the implied warranty of
     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
     GNU General Public License for more details.
     
     You should have received a copy of the GNU General Public License
     along with this program; if not, write to the Free Software
     Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 
     02110-1301, USA or visit <http://www.gnu.org/licenses/>.
-->


<%= form_tag "/form_option/alma", remote: true, class: 'form-horizontal', role: 'form', method: 'get' , name: 'almaSearch' do %>

<div id="actions_states" class="alert fade in alert-info" style="margin-bottom:0px">
    <strong>Heads up! </strong> This will show the states of actions
</div>
<table id="table_query" class="" >
	<thead>
		<tr>
			<th>	
				<%= submit_tag 'Process', class: 'btn btn-default ', style: "display:inline-block" %>
				<%= button_tag 'Reset', type: 'reset', class: 'btn btn-default ', style: "display:inline-block" %>	
			</th>
			<th>
			</th>
			<th></th>
			<th>
				<span id="flag" class="fa-stack fa-lg" style="float:right">
				  <i class="fa fa-circle fa-stack-2x"></i>
				  <i class="fa fa-flag fa-stack-1x fa-inverse"></i>
				</span>

				<span id="info_states" class="fa-stack fa-lg" style="float:right">
				  <i class="fa fa-circle fa-stack-2x"></i>
				  <i class="fa fa-info fa-stack-1x fa-inverse"></i>
				</span>
			</th>		
			</tr>	
	</thead>
	<tbody>
		<tr>
			<td id="position" class="tag-box tag-box-v6 col-sm-3" >
				<%= render 'form_option/boxes/position' %>
			</td>
			<td class="tag-box tag-box-v6 col-sm-3">
				<%= render 'form_option/boxes/energy' %>
			</td>
			<td class="tag-box tag-box-v6 col-sm-3">
				<%= render 'form_option/boxes/time' %>								  	
			</td>
			<td class="tag-box tag-box-v6 col-sm-3">
				<%= render 'form_option/boxes/polarization' %>								  	
			</td>
		</tr>
		<tr>
			<td class="tag-box tag-box-v6 col-sm-3" >
				<%= render 'form_option/boxes/observation' %>				  	
			</td>
			<td class="tag-box tag-box-v6 col-sm-3" >
				<%= render 'form_option/boxes/project' %>
			</td>
			<td class="tag-box tag-box-v6 col-sm-3">
				<div >                        
					<h4></h4>                        
					<p></p>						    	                   
				</div>
			</td>
			<td class="tag-box tag-box-v6 col-sm-3" >
				<%= render 'form_option/boxes/options' %>
			</td>
		</tr>
	</tbody>
</table>
<% end %> <!--=== End Form ===-->
