<!-- 
     This file is part of ChiVO, the Chilean Virtual Observatory
     A project sponsored by FONDEF (D11I1060)
     Copyright (C) 2015 Universidad Tecnica Federico Santa Maria
                        Universidad de Chile
                        Pontificia Universidad Catolica
                        Universidad de Concepcion
                        Universidad de Santiago
    
     This program is free software; you can redistribute it and/or modify 
     it under the terms of the GNU General Public License as published by 
     the Free Software Foundation; either version 2 of the License, or 
     (at your option) any later version.
    
     This program is distributed in the hope that it will be useful,
     but WITHOUT ANY WARRANTY; without even the implied warranty of
     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
     GNU General Public License for more details.
    
     You should have received a copy of the GNU General Public License
     along with this program; if not, write to the Free Software
     Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 
     02110-1301, USA or visit <http://www.gnu.org/licenses/>.
-->


<!--=== Slider ===-->
<div class="slider-inner">
  <div id="da-slider" class="da-slider">    
    <div class="da-slide">
      <h2><i>UTFSM</i><br /><i>Astroinformatic</i></h2>
      <!-- <p><i>Lorem ipsum dolor amet</i> <br /> <i>tempor incididunt ut</i></p> -->
      <div class="da-img">
        <iframe src="http://player.vimeo.com/video/76644462" width="530" height="300" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> 
      </div>
    </div>
    <div class="da-arrows">
      <span class="da-arrows-prev"></span>
      <span class="da-arrows-next"></span>  
    </div>
  </div><!--/da-slider-->
</div><!--/slider-->
<!--=== End Slider ===-->

<!--=== Purchase Block ===-->
<div class="purchase">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <span>What is CHIVO?</span>
        <p>The Chilean Virtual Observatory (CHIVO) is a VO developed in Chile and it is one of many VO projects currently underway in the world. It was born out of the need to archive data that require large storage capacities and the need to develop new tools for the analyzing large volumes of data and better algorithms for intelligent processing of astronomical data, this due to the volumes of large scale data that will generate the astronomical observatories in Chile, mainly the ALMA project that will generate over 1TB of data per day, and in this form be to able to store the data in the local territory to optimize the observation time of the chilean astronomers. Chivo is an initiative of the five most prestigious universities in the country, supported by the private institutions ALMA and REUNA. In addition of the use of the VO by scientists of astronomy area, the VO will be useful too for the students of schools, especially of schools of rural areas.
</p>
      </div>
    <%= link_to image_tag("ivoa_logoc.png", :class => "color-img ivoa"),"http://www.ivoa.net/about/member-contacts.html", :target => "_blank" %>
    </div>
  </div>
</div><!--/row-->
<!-- End Purchase Block -->

<!--=== Content Part ===-->
<div class="container"> 
  <!-- Recent Works -->
<div class="headline"><h2>Recent News</h2>
  <div class="pull-right"><a class="btn-u " href="all_news"><i class="fa fa-plus"></i>  More News</a></div>
</div>
  <div class="row">
    <!-- Last New -->
    <div class="col-md-4 col-sm-6">
      <div class="thumbnails thumbnail-style thumbnail-kenburn">
        <div class="thumbnail-img">
          <div class="overflow-hidden">
            <%= image_tag "news/workshop_august_2014_1.jpg", class: 'img-responsive' %>
          </div>
          <%= link_to "read more +", workshop_august_2014_path, class: "btn-more hover-effect" %>
        </div>
        <div class="caption">
          <h3><%= link_to "Workshop 2014 Avances y desafíos del proyecto FONDEF D11I1060", workshop_august_2014_path %></h3>
          <div align="justify">
            <p>El Observatorio Virtual Chileno (ChiVO) es uno de los proyectos actualmente en curso en el mundo que busca contener los datos astronómicos en sistema transparente, permitiendo que la información esté a disposición de todos los investigadores, independiente de su...</p>
          </div>
        </div>
      </div>
    </div> 
    <!-- New 2 -->
    <div class="col-md-4 col-sm-6">
      <div class="thumbnails thumbnail-style thumbnail-kenburn">
        <div class="thumbnail-img">
          <div class="overflow-hidden">
            <%= image_tag "news/spie_astronomical_telescopes_instrumentation_2014_2.jpg", class: 'img-responsive' %>
          </div>
          <%= link_to "read more +", spie_astronomical_telescopes_instrumentation_2014_path, class: "btn-more hover-effect" %>
        </div>
        <div class="caption">
          <h3><%= link_to "SPIE Astronomical Telescopes + Intrumentation 2014", spie_astronomical_telescopes_instrumentation_2014_path %></h3>
          <div align="justify">
            <p>SPIE is a not-for-profit international professional society for optics and photonics technology, founded in 1955. It organizes technical conferences, trade exhibitions, and continuing education programs for researchers and developers in the light-based fields of physics...</p>
          </div>
        </div>
      </div>
    </div> 
    <!-- New 3 -->
    <div class="col-md-4 col-sm-6">
      <div class="thumbnails thumbnail-style thumbnail-kenburn">
        <div class="thumbnail-img">
          <div class="overflow-hidden">
            <%= image_tag "news/ivoa_newsletter_012_may_2014.jpg", class: 'img-responsive' %>          
          </div>
          <%= link_to "read more +", ivoa_newsletter_012_may_2014_path, class: "btn-more hover-effect" %>
        </div>
        <div class="caption">
          <h3><%= link_to "IVOA Newsletter 012 - May 2014", ivoa_newsletter_012_may_2014_path %></h3>
          <div align="justify">
            <p>The May 2014 issue of the IVOA Newsletter is now available. This biannual newsletter for astronomers is intended to highlight new capabilities of VO tools and technologies for doing astronomy research. It also lists recent papers and upcoming events. </p>
          </div>        
        </div>
      </div>
    </div>
  </div><!--/row-->
  <!-- End Recent Works -->

  <!-- Our Clients -->
  <div id="clients-flexslider" class="flexslider home clients">
    <div class="headline"><h2>Institutions</h2></div>  
  <ul class="slides">
    <li>
      <a href="#">
        <%= image_tag "institutions/fondef_gray.png" %>
        <%= image_tag "institutions/fondef.png", class: 'color-img' %>
      </a>
    </li>
    <li>
      <a href="#">
        <%= image_tag "institutions/conicyt_gray.png" %>
        <%= image_tag "institutions/conicyt.png", class: 'color-img' %>
      </a>
    </li>
    <li>
      <a href="#">
        <%= image_tag "institutions/reuna_gray.png" %>
        <%= image_tag "institutions/reuna.png", class: 'color-img' %>
      </a>
    </li>
    <li>
      <a href="#">
        <%= image_tag "institutions/utfsm_gray.png" %>
        <%= image_tag "institutions/utfsm.png", class: 'color-img' %>
      </a>
    </li>
    <li>
      <a href="#">
        <%= image_tag "institutions/uchile_gray.png" %>
        <%= image_tag "institutions/uchile.png", class: 'color-img' %>
      </a>
    </li>
    <li>
      <a href="#">
        <%= image_tag "institutions/puc_gray.png" %>
        <%= image_tag "institutions/puc.png", class: 'color-img' %>
      </a>
    </li>
    <li>
      <a href="#">
        <%= image_tag "institutions/udec_gray.png" %>
        <%= image_tag "institutions/udec.png", class: 'color-img' %>
      </a>
    </li>
    <li>
      <a href="#">
        <%= image_tag "institutions/usach_gray.png" %>
        <%= image_tag "institutions/usach.png", class: 'color-img' %>
      </a>
    </li>
    <li>
      <a href="#">
        <%= image_tag "institutions/alma_gray.png" %>
        <%= image_tag "institutions/alma.png", class: 'color-img' %>
      </a>
    </li>
  </ul>
  </div><!--/flexslider-->
  <!-- End Our Clients -->
</div><!--/container-->   
<!-- End Content Part -->

<script type="text/javascript">
  jQuery(document).ready(function() {
    App.init();
    App.initSliders();
    Index.initParallaxSlider();
  });
</script>
<!--[if lt IE 9]>
  <script src="assets/plugins/respond.js"></script>
<![endif]-->
