<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
  <div class="container">
    <h1 class="pull-left">Institutions</h1>
    <ul class="pull-right breadcrumb">
      <li><%= link_to 'Home', root_path %></li>
      <li class="active">Institutions</li>
    </ul>
  </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container">   
  <div class="row margin-bottom-30">
    <div class="col-md-6 md-margin-bottom-40">
      <div class ="headline">
        <h2>Participating Institutions</h2>
      </div>
      <ul class="list-unstyled">
        <li><%= fa_icon "book" %> UNIVERSIDAD TECNICA FEDERICO SANTA MARIA</li>
        <li><%= fa_icon "book" %> UNIVERSIDAD DE CHILE</li>
        <li><%= fa_icon "book" %> PONTIFICIA UNIVERSIDAD CATOLICA DE CHILE</li>
        <li><%= fa_icon "book" %> UNIVERSIDAD DE CONCEPCION</li>
        <li><%= fa_icon "book" %> UNIVERSIDAD DE SANTIAGO DE CHILE</li>
        <li><%= fa_icon "book" %> ALMA</li>
        <li><%= fa_icon "book" %> CONSORCIO RED UNIVERSITARIA NACIONAL REUNA</li>
      </ul>
    </div>

    <div class="col-md-6 md-margin-bottom-40">
      <div class="headline">
        <h2>Sennior Personnel</h2>
      </div>
      <h3 class="list-heading">Researchers</h3>
      <ul>
        <li>Mauricio Solar, Director</li>
        <li>Marcelo Mendoza, Alternate Director</li>
        <li>Victor Parada, Principal Researcher</li>
        <li>Diego Mardones, Principal Researcher</li>
        <li>Karim Pichara, Principal Researcher</li>
        <li>Luis Contreras, Principal Researcher</li>
        <li>Neil Nagar, Principal Researcher</li>
        <li>Nelson Padilla, Principal Researcher</li>
        <li>Guillermo Cabrera Vives, Research Assistant</li>
      </ul>
      <h3 class="list-heading">Board's Members</h3>
      <ul>
        <li>Paola Arellano Toro, Board Member</li>
        <li>Jorge Ibsen Fuentes, Board Member</li>
        <li>Lars-ake Nyman, Board Member</li>
        <li>Eduardo Vera Sobrino, Board Member</li>
      </ul>
   
    </div>
  </div><!--/row-->
  <br><br><br><br>
</div>