<!-- 
     This file is part of ChiVO, the Chilean Virtual Observatory
     A project sponsored by FONDEF (D11I1060)
     Copyright (C) 2015 Universidad Tecnica Federico Santa Maria
                        Universidad de Chile
                        Pontificia Universidad Catolica
                        Universidad de Concepcion
                        Universidad de Santiago
    
     This program is free software; you can redistribute it and/or modify 
     it under the terms of the GNU General Public License as published by 
     the Free Software Foundation; either version 2 of the License, or 
     (at your option) any later version.
    
     This program is distributed in the hope that it will be useful,
     but WITHOUT ANY WARRANTY; without even the implied warranty of
     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
     GNU General Public License for more details.
    
     You should have received a copy of the GNU General Public License
     along with this program; if not, write to the Free Software
     Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 
     02110-1301, USA or visit <http://www.gnu.org/licenses/>.
-->


<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
  <div class="container">
    <h1 class="pull-left">Institutions</h1>
    <ul class="pull-right breadcrumb">
      <li><%= link_to 'Home', root_path %></li>
      <li class="active">Institutions</li>
    </ul>
  </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container">   
  <div class="row margin-bottom-30">
    <div class="col-md-6 md-margin-bottom-40">
      <div class ="headline">
        <h2>Participating Institutions</h2>
      </div>
      <ul class="list-unstyled">
        <li><%= fa_icon "book" %> <%= link_to 'UNIVERSIDAD TECNICA FEDERICO SANTA MARIA', 'http://www.usm.cl' %></li>
        <li><%= fa_icon "book" %> <%= link_to 'UNIVERSIDAD DE CHILE', 'http://http://www.uchile.cl/' %></li>
        <li><%= fa_icon "book" %> <%= link_to 'PONTIFICIA UNIVERSIDAD CATOLICA DE CHILE', 'http://www.uc.cl' %></li>
        <li><%= fa_icon "book" %> <%= link_to 'UNIVERSIDAD DE CONCEPCION', 'https://www.udec.cl' %></li>
        <li><%= fa_icon "book" %> <%= link_to 'UNIVERSIDAD DE SANTIAGO DE CHILE', 'http://www.usach.cl/' %></li>
        <li><%= fa_icon "book" %> <%= link_to 'ALMA' , 'http://www.almaobservatory.org/' %></li>
        <li><%= fa_icon "book" %> <%= link_to 'CONSORCIO RED UNIVERSITARIA NACIONAL REUNA' ,'http://www.reuna.cl/' %></li>
      </ul>
    </div>

    <div class="col-md-6 md-margin-bottom-40">
      <div class="headline">
        <h2>Sennior Personnel</h2>
      </div>
      <h3 class="list-heading">Researchers</h3>
      <ul>
        <li>Mauricio Solar, Director</li>
        <li>Marcelo Mendoza, Alternate Director</li>
        <li>Victor Parada, Principal Researcher</li>
        <li>Diego Mardones, Principal Researcher</li>
        <li>Karim Pichara, Principal Researcher</li>
        <li>Luis Contreras, Principal Researcher</li>
        <li>Neil Nagar, Principal Researcher</li>
        <li>Nelson Padilla, Principal Researcher</li>
        <li>Guillermo Cabrera Vives, Research Assistant</li>
      </ul>
      <h3 class="list-heading">Board's Members</h3>
      <ul>
        <li>Paola Arellano Toro, Board Member</li>
        <li>Jorge Ibsen Fuentes, Board Member</li>
        <li>Lars-ake Nyman, Board Member</li>
        <li>Eduardo Vera Sobrino, Board Member</li>
      </ul>
   
    </div>
  </div><!--/row-->
  <br><br><br><br>
</div>
