<!--
     This file is part of ChiVO, the Chilean Virtual Observatory
     Copyright (C) 2015 Jonathan Antognini Cavieres <jonathan.antognini@gmail.com>
                        Cesar Parra Moreno <cparra@csrg.cl>
                        Constanza Soto <constanza.soto.12@sansano.usm.cl>
                        Jose Miguel Castro <jcastro@csrg.cl>
                        Marco Salinas <marco.salinas.12@sansano.usm.cl>
                        Felipe Morales <felipe.moralesm.12@sansano.usm.cl>
                        Luis E. Arevalo R. <arevalo@luchox.cl>
     
     This program is free software; you can redistribute it and/or modify 
     it under the terms of the GNU General Public License as published by 
     the Free Software Foundation; either version 2 of the License, or 
     (at your option) any later version.
     
     This program is distributed in the hope that it will be useful,
     but WITHOUT ANY WARRANTY; without even the implied warranty of
     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
     GNU General Public License for more details.
     
     You should have received a copy of the GNU General Public License
     along with this program; if not, write to the Free Software
     Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 
     02110-1301, USA or visit <http://www.gnu.org/licenses/>.
-->


<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
  <div class="container">
    <h1 class="pull-left">All News</h1>
    <ul class="pull-right breadcrumb">
      <li><%= link_to 'Home', root_path %></li>
      <li class="active">All News</li>
    </ul>
  </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->
<!--=== Content Part ===-->
<div class="container"> 
  <!-- Recent Works -->
  <div class="row">
    <!-- new 5 -->
    <div class="col-md-4 col-sm-6">
      <div class="thumbnails thumbnail-style thumbnail-kenburn">
        <div class="thumbnail-img">
          <div class="overflow-hidden">
            <%= image_tag "news/workshop_august_2014_1.jpg", class: 'img-responsive' %>
          </div>
          <%= link_to "read more +", workshop_august_2014_path, class: "btn-more hover-effect" %>
        </div>
        <div class="caption">
          <h3><%= link_to "Workshop 2014 Avances y desafíos del proyecto FONDEF D11I1060", workshop_august_2014_path %></h3>
          <div align="justify">
            <p>El Observatorio Virtual Chileno (ChiVO) es uno de los proyectos actualmente en curso en el mundo que busca contener los datos astronómicos en sistema transparente, permitiendo que la información esté a disposición de todos los investigadores, independiente de su...</p>
          </div>
        </div>
      </div>
    </div> 
    <!-- new 4 -->
    <div class="col-md-4 col-sm-6">
      <div class="thumbnails thumbnail-style thumbnail-kenburn">
        <div class="thumbnail-img">
          <div class="overflow-hidden">
            <%= image_tag "news/spie_astronomical_telescopes_instrumentation_2014_2.jpg", class: 'img-responsive' %>
          </div>
          <%= link_to "read more +", spie_astronomical_telescopes_instrumentation_2014_path, class: "btn-more hover-effect" %>
        </div>
        <div class="caption">
          <h3><%= link_to "SPIE Astronomical Telescopes + Intrumentation 2014", spie_astronomical_telescopes_instrumentation_2014_path %></h3>
          <ul class="list-unstyled list-inline blog-info">
            <li><i class="fa fa-calendar"></i> June 20, 2014</li>
            <li><i class="fa fa-pencil"></i> <a class="hover-effect" href="http://spie.org/astronomical-instrumentation.xml">spie.org</a></li>
          </ul>    
          <div align="justify">
            <p>SPIE is a not-for-profit international professional society for optics and photonics technology, founded in 1955. It organizes technical conferences, trade exhibitions, and continuing education programs for researchers and developers in the light-based fields of physics...</p>
          </div>
        </div>
      </div>
    </div> 
    <!-- New 3 -->
    <div class="col-md-4 col-sm-6">
      <div class="thumbnails thumbnail-style thumbnail-kenburn">
        <div class="thumbnail-img">
          <div class="overflow-hidden">
            <%= image_tag "news/ivoa_newsletter_012_may_2014.jpg", class: 'img-responsive' %>          
          </div>
          <%= link_to "read more +", ivoa_newsletter_012_may_2014_path, class: "btn-more hover-effect" %>        
        </div>
        <div class="caption">
          <h3><%= link_to "IVOA Newsletter 012 - May 2014", ivoa_newsletter_012_may_2014_path %></h3>
          <ul class="list-unstyled list-inline blog-info">
              <li><i class="fa fa-calendar"></i>May 16, 2014</li>
              <li><i class="fa fa-pencil"></i> <a class="hover-effect" href="http://ivoa.net/newsletter/012/">ivoa.net</a></li>
          </ul>     
          <div align="justify">
            <p>The May 2014 issue of the IVOA Newsletter is now available. This biannual newsletter for astronomers is intended to highlight new capabilities of VO tools and technologies for doing astronomy research. It also lists recent papers and upcoming events. </p>
          </div>        
        </div>
      </div>
    </div>
    </div><!--/row-->
    <div class="row"> 
    <!-- New 2 -->
    <div class="col-md-4 col-sm-6">
      <div class="thumbnails thumbnail-style thumbnail-kenburn">
        <div class="thumbnail-img">
          <div class="overflow-hidden">
            <%= image_tag "news/chilean_development_of_astronomical_computing_for_alma.jpg", class: 'img-responsive' %>
          </div>
          <%= link_to "read more +", chilean_development_of_astronomical_computing_for_alma_path, class: "btn-more hover-effect" %>    
        </div>
        <div class="caption">          
          <h3><%= link_to "Chilean Development of Astronomical Computing for ALMA", chilean_development_of_astronomical_computing_for_alma_path %></h3>
          <ul class="list-unstyled list-inline blog-info">
              <li><i class="fa fa-calendar"></i> April 12, 2013</li>
              <li><i class="fa fa-pencil"></i><a class="hover-effect" href="http://www.almaobservatory.org/en/press-room/announcements-events/542-virtual-observatories-chilean-development-of-astronomical-computing-for-alma">almaobservatory.org</a></li>
          </ul>         
          <div align="justify">
            <p>Once the Atacama Large Millimiter/submillimeter Array (ALMA) is functioning at full capacity, it will generate more than 750 GB of data each day (on the order of 250 TB/year). Chilean astronomers will need to be able to connect at a high data transmission speed...</p>
          </div>
        </div>
      </div>
    </div>
    <!-- New 1 -->
    <div class="col-md-4 col-sm-6">
      <div class="thumbnails thumbnail-style thumbnail-kenburn">
        <div class="thumbnail-img">
          <div class="overflow-hidden">
            <%= image_tag "news/chilean_joins_international_virtual_observatory.jpg", class: 'img-responsive' %>
          </div>
          <%= link_to "read more +", chilean_joins_international_virtual_observatory_path, class: "btn-more hover-effect" %>   
        </div>
        <div class="caption">
          <h3><%= link_to "Chilean joins International Virtual Observatory", chilean_joins_international_virtual_observatory_path %></h3>
            <ul class="list-unstyled list-inline blog-info">
                <li><i class="fa fa-calendar"></i> December 02, 2013</li>
                <li><i class="fa fa-pencil"></i> <a class="hover-effect" href="http://almaobservatory.org/en/press-room/announcements-events/658-chilean-astroinformatics-platform-joins-international-virtual-observatory">almaobservatory.org</a></li>
            </ul>   
          <div align="justify">
            <p>The project designed to manage and analyze the almost 250 terabytes of data that the Atacama Millimeter/submillimeter Array (ALMA) will generate each year has joined the International Virtual Observatory Alliance, becoming a key initiative in Chile's contribution to astroinformatics around the world...</p>
          </div>
        </div>
      </div>
    </div> 
  </div><!--/row-->
  <!-- End Recent Works -->
</div>
