<!--
     This file is part of ChiVO, the Chilean Virtual Observatory
     Copyright (C) 2015 Jonathan Antognini Cavieres <jonathan.antognini@gmail.com>
                        Cesar Parra Moreno <cparra@csrg.cl>
                        Constanza Soto <constanza.soto.12@sansano.usm.cl>
                        Jose Miguel Castro <jcastro@csrg.cl>
                        Marco Salinas <marco.salinas.12@sansano.usm.cl>
                        Felipe Morales <felipe.moralesm.12@sansano.usm.cl>
                        Luis E. Arevalo R. <arevalo@luchox.cl>
     
     This program is free software; you can redistribute it and/or modify 
     it under the terms of the GNU General Public License as published by 
     the Free Software Foundation; either version 2 of the License, or 
     (at your option) any later version.
     
     This program is distributed in the hope that it will be useful,
     but WITHOUT ANY WARRANTY; without even the implied warranty of
     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
     GNU General Public License for more details.
     
     You should have received a copy of the GNU General Public License
     along with this program; if not, write to the Free Software
     Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 
     02110-1301, USA or visit <http://www.gnu.org/licenses/>.
-->


<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
  <div class="container">
    <h1 class="pull-left">News</h1>
    <ul class="pull-right breadcrumb">
      <li><%= link_to 'Home', root_path %></li>
      <li class="active">News</li>
    </ul>
  </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->
<div class="container">		
	<div class="row blog-page blog-item">
        <!-- Left Sidebar -->
    	<div class="col-md-9 md-margin-bottom-60">
            <!--Blog Post-->        
            <div class="blog margin-bottom-40">
                <div class="headline"><h2>Chilean joins International Virtual Observatory</h2></div>
                <div class="blog-post-tags">
                    <ul class="list-unstyled list-inline blog-info">
                        <li><i class="fa fa-calendar"></i> December 02, 2013</li>
                        <li><i class="fa fa-pencil"></i> <a class="hover-effect" href="http://almaobservatory.org/en/press-room/announcements-events/658-chilean-astroinformatics-platform-joins-international-virtual-observatory">almaobservatory.org</a></li>
                    </ul>                                       
                </div>
                <div class="blog-img">
                    <%= image_tag "news/chilean_joins_international_virtual_observatory.jpg", class: "img-responsive"%>
                </div>
                <br>
                <div align="justify">
                    <p>The project designed to manage and analyze the almost 250 terabytes of data that the Atacama Millimeter/submillimeter Array (ALMA) will generate each year has joined the International Virtual Observatory Alliance, becoming a key initiative in Chile's contribution to astroinformatics around the world.</p>
                    <p>The need for a collaborative technology infrastructure for astronomical research in Chile led five leading Chilean universities to participate in the "Astroinformatics Platform Development" project, with financing from the Fund to Promote Scientific and Technological Development (a CONICYT program).</p>
                    <p>This astroinformatics initiative, which is now completing its first year of execution, is sponsored by REUNA and ALMA with participating academics from Universidad Técnica Federico Santa María, Universidad de Chile, Pontificia Universidad Católica de Chile, Universidad de Santiago and Universidad de Concepción.</p>
                    <p>Jorge Ibsen, ALMA's Computing Department Director and member of the project’s Board said:</p>
                    <div class="tag-box tag-box-v2">
                        <p>"The astronomy community will have tools that facilitate consultations of the data in the Virtual Observatory and extraction of relevant information for research,"</p>
                    </div>
                    <p>This project has enabled Chile to become a member of the International Virtual Observatory Alliance (IVOA). This came about as the result of efforts begun in May of this year by the project director and professor at the Universidad Técnica Federico Santa María (UTFSM), Dr. Mauricio Solar, who participated in the annual IVOA meeting in Heidelberg, Germany, where he formally requested Chile's entry into the international alliance. That request was unanimously accepted at the organization's meeting held in Hawaii on September 28. Dr. Solar said:</p>
                    <div class="tag-box tag-box-v2">
                        <p>"The astronomy community will have tools that facilitate consultations of the data in the Virtual Observatory and extraction of relevant information for research,"</p>
                    </div>
                    <p>The proyect director added:</p>  
                    <div class="tag-box tag-box-v2">
                        <p>"Our developments will be implemented in Chile, but the service will be available to the entire community of astronomers who want to use ALMA's astronomy data search methods as well as the data analysis and visualization tools."</p>
                    </div>  
                    <p>This Chilean Virtual Observatory, known as ChiVO, will enable management and intelligent analysis on a large scale–close to 750 gigabytes per day–of data captured by ALMA.</p>
                    <p>Diego Mardones, a professor at Universidad de Chile and a researcher on the project, explained that the platform will be operating in 2015 and its impact</p>
                    <div class="tag-box tag-box-v2">
                        <p>"...will grow over time, as the volume of public data from ALMA increases. This tool helps ensure that the data are actually used by astronomers from all specialties."</p>
                    </div> 
                </div>    
            </div>
        </div>
        <!-- End Left Sidebar -->
        <!-- Right Sidebar -->
        <div class="col-md-3 magazine-page">    
            <!-- Posts -->
            <div class="posts margin-bottom-40">
                <div class="headline headline-md"><h2>Recent News</h2></div>
                <dl class="dl-horizontal">
                    <dt><%= image_tag "news/workshop_august_2014.jpg", class: "img-responsive"%></dt>
                    <dd>
                        <p><%= link_to "Workshop 2014 Avances y desafíos del proyecto FONDEF D11I1060", workshop_august_2014_path %></p> 
                    </dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt><%= image_tag "news/spie_astronomical_telescopes_instrumentation_2014.jpg", class: "img-responsive"%></dt>
                    <dd>
                        <p><%= link_to "SPIE Astronomical Telescopes + Intrumentation 2014", spie_astronomical_telescopes_instrumentation_2014_path %></p> 
                    </dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt><%= image_tag "news/ivoa_newsletter_012_may_2014.jpg", class: "img-responsive"%></dt>
                    <dd>
                        <p><%= link_to "IVOA Newsletter 012 - May 2014", ivoa_newsletter_012_may_2014_path %></p> 
                    </dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt><%= image_tag "news/chilean_development_of_astronomical_computing_for_alma.jpg", class: "img-responsive"%></dt>
                    <dd>
                        <p><%= link_to "Virtual Observatories: Chilean Development of Astronomical Computing for ALMA", chilean_development_of_astronomical_computing_for_alma_path %></p> 
                    </dd>
                </dl>
            </div><!--/posts-->
            <!-- End Posts -->
        </div>
        <!-- End Right Sidebar -->
    </div><!--/row-->        
</div>
