<!-- 
     This file is part of ChiVO, the Chilean Virtual Observatory
     A project sponsored by FONDEF (D11I1060)
     Copyright (C) 2015 Universidad Tecnica Federico Santa Maria
                        Universidad de Chile
                        Pontificia Universidad Catolica
                        Universidad de Concepcion
                        Universidad de Santiago
    
     This program is free software; you can redistribute it and/or modify 
     it under the terms of the GNU General Public License as published by 
     the Free Software Foundation; either version 2 of the License, or 
     (at your option) any later version.
    
     This program is distributed in the hope that it will be useful,
     but WITHOUT ANY WARRANTY; without even the implied warranty of
     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
     GNU General Public License for more details.
    
     You should have received a copy of the GNU General Public License
     along with this program; if not, write to the Free Software
     Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 
     02110-1301, USA or visit <http://www.gnu.org/licenses/>.
-->


<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
  <div class="container">
    <h1 class="pull-left">News</h1>
    <ul class="pull-right breadcrumb">
      <li><%= link_to 'Home', root_path %></li>
      <li class="active">News</li>
    </ul>
  </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->
<!--=== Content Part ===-->
<div class="container">		
	<div class="row blog-page blog-item">
        <!-- Left Sidebar -->
    	<div class="col-md-9 md-margin-bottom-60">
            <!--Blog Postcol-md-offset-3 col-md-7 md-margin-bottom-60-->        
            <div class="blog margin-bottom-40">
                <div class="headline"><h2>Virtual Observatories: Chilean Development of Astronomical Computing for ALMA</h2></div>
                <div class="blog-post-tags">
                    <ul class="list-unstyled list-inline blog-info">
                        <li><i class="fa fa-calendar"></i> April 12, 2013</li>
                        <li><i class="fa fa-pencil"></i><a class="hover-effect" href="http://www.almaobservatory.org/en/press-room/announcements-events/542-virtual-observatories-chilean-development-of-astronomical-computing-for-alma">almaobservatory.org</a></li>
                    </ul>                                       
                </div>
                <!--imagen en movimiento-->
                <div class="row">
                <div class="col-md-offset-2 col-md-8">
                <div class="carousel slide carousel-v1" id="myCarousel">
                    <div class="carousel-inner">                    
                        <div class="item">
                            <%= image_tag "news/chilean_development_of_astronomical_computing_for_alma.jpg"%>
                            <div class="carousel-caption">
                                <p>Chilean Development of Astronomical Computing for ALMA.</p>
                            </div>
                        </div>
                        <div class="item active">
                            <%= image_tag "news/chilean_development_of_astronomical_computing_for_alma(1).jpg"%>
                            <div class="carousel-caption">
                                <p>Chilean Development of Astronomical Computing for ALMA.</p>
                            </div>
                            </div>
                        <div class="item">
                            <%= image_tag "news/chilean_development_of_astronomical_computing_for_alma(2).jpg"%>
                            <div class="carousel-caption">
                                <p>ALMA Data Center.</p>
                            </div>
                        </div>
                        <div class="item">
                            <%= image_tag "news/chilean_development_of_astronomical_computing_for_alma(3).jpg"%>
                            <div class="carousel-caption">
                                <p>ALMA Antennas on the Chajnantor Plateau.</p>
                            </div>
                        </div>
                    </div>                    
                    <div class="carousel-arrow">
                        <a data-slide="prev" href="#myCarousel" class="left carousel-control">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a data-slide="next" href="#myCarousel" class="right carousel-control">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>
                </div>
                </div>
                <!--imagen en movimiento-->
                <br>
                <!--texto-->
                <div align="justify">
                    <p> The massive amounts of data generated by astronomical observatories located in Chile have created new development opportunities to meet the need for analytical tools, and underscore the need for innovation in new fields such as astronomical data management, astronomical engineering and astronomical computing.</p>
                    <p>One important contribution of astronomical computing, particularly in relation to the ALMA observatory, is the project entitled, "Development of an astronomical computing platform for large-scale data management and intelligent analysis." This project is being lead by Mauricio Solar of the Computer Engineering Department at the Universidad Técnica Federico Santa María (UTFSM). The project will cost around a million dollars and will last for 28 months.</p>
                    <blockquote>
                        <p>"This development is a key step toward the creation of an ALMA regional center in Chile, because it creates the computer tools and skills needed for this purpose."</p>
                        <small>Jorge Ibsen, Head of the ALMA Computing Department.</small>
                    </blockquote>   
                    <blockquote>
                        <p>"This project is very important for astronomy and for ALMA, because it will enable us to have quality information, which is essential to our work. In addition, it involves Chile in the development of first-class scientific research.</p>
                        <small>Lars Nyman, Head of Science Operations at ALMA.</small>
                    </blockquote>   
                    <p>Once the Atacama Large Millimiter/submillimeter Array (ALMA) is functioning at full capacity, it will generate more than 750 GB of data each day (on the order of 250 TB/year). Chilean astronomers will need to be able to connect at a high data transmission speed, archive data that requires massive storage capacity, and analyze these data. The ultimate goal of the project is to implement a virtual observatory, that is an open platform for virtual access to the large number of observations made by ALMA.</p>
                    <p>The project is not only focused on data storage, but also on processing data intelligently to generate quality information that is useful to astronomers and the community in general. How can algorithms be assigned to classify unusual or unknown things that are discovered in ALMA observations? How can algorithms be assigned to monitor mobile sources, such as asteroids and comets, or to follow the movements of the stars themselves? These are some of the examples of the challenges faced today, and there is also a need to prepare for the future needs of astronomical projects.</p>
                    <p>This project involves a country-wide innovation effort, since generally astronomical data are processed outside Chile, and the hope is that it will enable this task to be undertaken also in Chile using local human capital. The project was created by students and professors at UTFSM as part of a FONDEF project, together with ALMA and REUNA, and will also benefit Universidad de Chile, Universidad Católica de Chile, Universidad de Concepción and Universidad de Santiago.</p> 
                </div>
                <!--texto-->
            </div>
            <!--End Blog Post-->
        </div>
        <!-- End Left Sidebar -->
        <!-- Right Sidebar -->
        <div class="col-md-3 magazine-page">    
            <!-- Posts -->
            <div class="posts margin-bottom-40">
                <div class="headline headline-md"><h2>Recent News</h2></div>
                <dl class="dl-horizontal">
                    <dt><%= image_tag "news/workshop_august_2014.jpg", class: "img-responsive"%></dt>
                    <dd>
                        <p><%= link_to "Workshop 2014 Avances y desafíos del proyecto FONDEF D11I1060", workshop_august_2014_path %></p> 
                    </dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt><%= image_tag "news/spie_astronomical_telescopes_instrumentation_2014.jpg", class: "img-responsive"%></dt>
                    <dd>
                        <p><%= link_to "SPIE Astronomical Telescopes + Intrumentation 2014", spie_astronomical_telescopes_instrumentation_2014_path %></p> 
                    </dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt><%= image_tag "news/ivoa_newsletter_012_may_2014.jpg", class: "img-responsive"%></dt>
                    <dd>
                        <p><%= link_to "IVOA Newsletter 012 - May 2014", ivoa_newsletter_012_may_2014_path %></p> 
                    </dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt><%= image_tag "news/chilean_joins_international_virtual_observatory.jpg", class: "img-responsive"%></dt>
                    <dd>
                        <p><%= link_to "Chilean joins International Virtual Observatory", chilean_joins_international_virtual_observatory_path %></p> 
                    </dd>
                </dl>
            </div><!--/posts-->
            <!-- End Posts -->
        </div>
        <!-- End Right Sidebar -->
    </div>
    <!--/row-->
</div> 
<!--/container-->
<!--=== End Content Part ===-->
