<!-- 
     This file is part of ChiVO, the Chilean Virtual Observatory
     A project sponsored by FONDEF (D11I1060)
     Copyright (C) 2015 Universidad Tecnica Federico Santa Maria
                        Universidad de Chile
                        Pontificia Universidad Catolica
                        Universidad de Concepcion
                        Universidad de Santiago
    
     This program is free software; you can redistribute it and/or modify 
     it under the terms of the GNU General Public License as published by 
     the Free Software Foundation; either version 2 of the License, or 
     (at your option) any later version.
    
     This program is distributed in the hope that it will be useful,
     but WITHOUT ANY WARRANTY; without even the implied warranty of
     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
     GNU General Public License for more details.
    
     You should have received a copy of the GNU General Public License
     along with this program; if not, write to the Free Software
     Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 
     02110-1301, USA or visit <http://www.gnu.org/licenses/>.
-->


<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
  <div class="container">
    <h1 class="pull-left">News</h1>
    <ul class="pull-right breadcrumb">
      <li><%= link_to 'Home', root_path %></li>
      <li class="active">News</li>
    </ul>
  </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->
<div class="container">		
	<div class="row blog-page blog-item">
        <!-- Left Sidebar -->
    	<div class="col-md-9 md-margin-bottom-60">
            <!--Blog Post-->        
            <div class="blog margin-bottom-40">
                <div class="headline"><h2>IVOA Newsletter 012 - May 2014</h2></div>
                <div class="blog-post-tags">
                    <ul class="list-unstyled list-inline blog-info">
                        <li><i class="fa fa-calendar"></i>May 16, 2014</li>
                        <li><i class="fa fa-pencil"></i> <a class="hover-effect" href="http://ivoa.net/newsletter/012/">ivoa.net</a></li>
                    </ul>                                       
                </div>
                <div class="blog-img">
                     <%= image_tag "news/ivoa_newsletter_012_may_2014.jpg", class: "img-responsive"%>
                </div>
                <div align="justify">
                    <p> The May 2014 issue of the IVOA Newsletter is now available at <a href="http://ivoa.net/newsletter/012/">ivoa.net.</a></p>
                    <p>This biannual newsletter for astronomers is intended to highlight new capabilities of VO tools and technologies for doing astronomy research. It also lists recent papers and upcoming events.</p>
                    <p>Featured in this issue:</p>
                    <li>Theoretical Astrophysical Observatory</li>
                    <li>VO Client Release</li>
                    <li>CASSIS interactive spectrum analyser</li>
                    <li>…and more</li>

                    <p>Comments and feedback are encouraged; you may contact the editors at ivoa-news-editors@ivoa.net.</p>
                    <p>The International Virtual Observatory Alliance (IVOA) was formed inJune 2002 with a mission to facilitate the international coordination and collaboration necessary for the development and deployment of the tools, systems and organizational structures necessary to enable the international utilization of astronomical archives as an integrated and interoperating virtual observatory. You can read more about theIVOA at <a class="hover-effect" href="http://www.ivoa.net/about" >ivoa.net.</a></p>
                </div>
            </div>
            <!--End Blog Post-->
        </div>
        <!-- End Left Sidebar -->
        <!-- Right Sidebar -->
        <div class="col-md-3 magazine-page">    
            <!-- Posts -->
            <div class="posts margin-bottom-40">
                <div class="headline headline-md"><h2>Recent News</h2></div>
                <dl class="dl-horizontal">
                    <dt><%= image_tag "news/workshop_august_2014.jpg", class: "img-responsive"%></dt>
                    <dd>
                        <p><%= link_to "Workshop 2014 Avances y desafíos del proyecto FONDEF D11I1060", workshop_august_2014_path %></p> 
                    </dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt><%= image_tag "news/spie_astronomical_telescopes_instrumentation_2014.jpg", class: "img-responsive"%></dt>
                    <dd>
                        <p><%= link_to "SPIE Astronomical Telescopes + Intrumentation 2014", spie_astronomical_telescopes_instrumentation_2014_path %></p> 
                    </dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt><%= image_tag "news/chilean_development_of_astronomical_computing_for_alma.jpg", class: "img-responsive"%></dt>
                    <dd>
                        <p><%= link_to "Virtual Observatories: Chilean Development of Astronomical Computing for ALMA", chilean_development_of_astronomical_computing_for_alma_path %></p> 
                    </dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt><%= image_tag "news/chilean_joins_international_virtual_observatory.jpg", class: "img-responsive"%></dt>
                    <dd>
                        <p><%= link_to "Chilean joins International Virtual Observatory", chilean_joins_international_virtual_observatory_path %></p> 
                    </dd>
                </dl>
            </div><!--/posts-->
            <!-- End Posts -->
        </div>
        <!-- End Right Sidebar -->
    </div>
</div>
