<!--
     This file is part of ChiVO, the Chilean Virtual Observatory
     Copyright (C) 2015 Jonathan Antognini Cavieres <jonathan.antognini@gmail.com>
                        Cesar Parra Moreno <cparra@csrg.cl>
                        Constanza Soto <constanza.soto.12@sansano.usm.cl>
                        Jose Miguel Castro <jcastro@csrg.cl>
                        Marco Salinas <marco.salinas.12@sansano.usm.cl>
                        Felipe Morales <felipe.moralesm.12@sansano.usm.cl>
                        Luis E. Arevalo R. <arevalo@luchox.cl>
     
     This program is free software; you can redistribute it and/or modify 
     it under the terms of the GNU General Public License as published by 
     the Free Software Foundation; either version 2 of the License, or 
     (at your option) any later version.
     
     This program is distributed in the hope that it will be useful,
     but WITHOUT ANY WARRANTY; without even the implied warranty of
     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
     GNU General Public License for more details.
     
     You should have received a copy of the GNU General Public License
     along with this program; if not, write to the Free Software
     Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 
     02110-1301, USA or visit <http://www.gnu.org/licenses/>.
-->


<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
  <div class="container">
    <h1 class="pull-left">New</h1>
    <ul class="pull-right breadcrumb">
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'All News', all_news_path %></li>
      <li class="active">New</li>
    </ul>
  </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->
<div class="container">		
	<div class="row blog-page blog-item">
        <!-- Left Sidebar -->
    	<div class="col-md-9 md-margin-bottom-60">
            <!--Blog Post-->        
            <div class="blog margin-bottom-40">
                <div class="headline"><h2>SPIE Astronomical Telescopes + Instrumentation 2014</h2></div>
                <div class="blog-post-tags">
                    <ul class="list-unstyled list-inline blog-info">
                        <li><i class="fa fa-calendar"></i> June 20, 2014</li>
                        <li><i class="fa fa-pencil"></i> <a class="hover-effect" href="http://spie.org/astronomical-instrumentation.xml">spie.org</a></li>
                    </ul>                                       
                </div>
                <div class="blog-img col-md-offset-4">
                    <%= image_tag "news/spie_astronomical_telescopes_instrumentation_2014.jpg", class: "img-responsive"%>
                </div>
                <br>
                <div align="justify">
                    <p>SPIE is a not-for-profit international professional society for optics and photonics technology, founded in 1955. It organizes technical conferences, trade exhibitions, and continuing education programs for researchers and developers in the light-based fields of physics, including, but not limited to: optics, photonics, and imaging engineering.</p>
                    <p>Eight engaging plenary talks are among the highlights anticipated by those planning to attend SPIE Astronomical Telescopes + Instrumentation 22-27 June at the Palais des congrès de Montréal. The most prestigious event for developers of ground- and space-based telescopes, the supporting technologies, and the latest instrumentation draws attendees from throughout the global community.</p>
                    <p>This year CHIVO will expose three papers:</p>
                    <!-- First paper --> 
                    <li><h5 class="media-heading">Chilean Virtual Observatory services implementation for the ALMA public data</h5>
                    <div class="tag-box tag-box-v1">
                        <p>"The success of an observatory is usually measured by its impact in the scientific community, so a common objective is to provide transparent ways to access the generated data. The Chilean Virtual Observatory (ChiVO), started working in the implementation of a prototype, in collaboration with ALMA, considering the current needs of the Chilean astronomical community, in addition to the protocols and standards of IVOA, and the comparison of different existing data access toolkit services. Based on this efforts, a VO prototype was designed and implemented for the ALMA large scale of data."</p>
                        <div style="text-align: right;">
                            <a href="/spie_astronomical_telescopes_instrumentation_2014#Authors">
                                <span class="fa-stack">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                    <!-- Second paper -->
                    <li><h5 class="media-heading">Chilean Virtual Observatory and Integration with ALMA</h5></li>
                    <div class="tag-box tag-box-v1">
                        <p>"The Virtual Observatories strive to interoperate, exchange data and share services as if it was only one big VO. In this work, the state of the art of VOs will be presented and summarized in a schematic diagram with the frequency range of the observed data that every VO publishes. Chile, currently a member of the IVOA, collaborates with the Atacama Large Millimeter/submillimeter Array (ALMA), to study and propose ways to adequate the data generated by ALMA to the different data model proposed by the IVOA."</p>
                        <div style="text-align: right;">
                            <a href="/spie_astronomical_telescopes_instrumentation_2014#Authors">
                                <span class="fa-stack">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                    <!-- Third paper -->
                    <li><h5 class="media-heading">Automatic detection and automatic classification of structures in astronomical images</h5></li>
                    <div class="tag-box tag-box-v1">
                        <p>"The study of the astronomical structures is important to the astronomical community because it can help to identify objects, which can be classified based on their internal structure or their relation to other objects. For this reason, it is developed an automated tool to analyze astronomical images into its components. Firstly, a 2D images is decomposed into different spatial scales based on wavelet transform. Then, it is implemented a detection algorithms to each spatial scale, such as Clumpfind, Gaussclump, or Dendrogram techniques. The goal is to build a new algorithm and tool that is available to the community and satisfies the requirements of the next Chilean Virtual Observatory (ChiVO)."</p>
                        <div style="text-align: right;">
                            <a href="/spie_astronomical_telescopes_instrumentation_2014#Authors">
                                <span class="fa-stack">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                    <p>For reports on technical talks, photos, and videos please follow <a class="hover-effect" href="http://spie.org/x108562.xml" >spie.org</a>.</p>
                    <a name="Authors"></a>
                    <p><h2><span class="fa-stack">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                        </span>
                        Authors:</h2>
                    </p>
                    <dl>
                        <dt>Chilean Virtual Observatory services implementation for the ALMA public data</dt>
                        <dd>Jonathan Antognini<sup> a</sup>, Mauricio Solar<sup> a</sup>, Jorge Ibsen<sup> f</sup>, Mauricio Araya<sup> a</sup>, Lars Nyman<sup> f</sup>, Diego Mardones<sup> b</sup>, Camilo Valenzuela<sup> a</sup>, Patricio Ramirez<sup> a</sup>, Christopher Fernandez<sup> a</sup>, Mario Garces<sup> a</sup></dd><br>
                        <dt>Chilean Virtual Observatory and Integration with ALMA</dt>
                        <dd>Mauricio Solar<sup> a</sup>, Walter Fariña<sup> a</sup>, Diego Mardones<sup> b</sup>, Jonathan Antognini<sup> a</sup>, Karim Pichara<sup> c</sup>, Neil Nagar<sup> d</sup>, Victor Parada<sup> e</sup>, Jorge Ibsen<sup> f</sup>, Lars Nyman<sup> f</sup>, José Marroquin<sup> a</sup></dd><br>
                        <dt>Automatic detection and automatic classification of structures in astronomical images</dt>
                        <dd>Rodrigo Gregorio<sup> a</sup>, Mauricio Solar<sup> a</sup>, Diego Mardones<sup> b</sup>, Karim Pichara<sup> c</sup>, Ricardo Contreras<sup> d</sup>, Victor Parada<sup> e</sup></dd>
                    </dl>
                    <p><h2><i class="fa fa-university"></i>
                        Institutions:</h2>
                    </p>
                    <ol type="a">
                        <li>Universidad Técnica Federico Santa María, Av. España 1680, Valparaíso, Chile.</li>
                        <li>Universidad de Chile, Camino el Observatorio 151, Santiago, Chile.</li>
                        <li>Pontificia Universidad Católica de Chile, Av. Vicuña Mackenna 3939, Santiago, Chile.</li>
                        <li>Universidad de Concepción, Víctor Lamas 1290, Concepción, Chile.</li>
                        <li>Universidad de Santiago de Chile, Av. Ecuador 3659, Santiago, Chile.</li>
                        <li>Atacama Large Milimeter/submilimeter Array, Alonso de Cordova 3107, Santiago, Chile.</li>
                    </ol>
                </div>
            </div>  
        </div>
        <!-- End Left Sidebar -->
        <!-- Right Sidebar -->
        <div class="col-md-3 magazine-page">    
            <!-- Posts -->
            <div class="posts margin-bottom-40">
                <div class="headline headline-md"><h2>Recent News</h2></div>
                <dl class="dl-horizontal">
                    <dt><%= image_tag "news/workshop_august_2014.jpg", class: "img-responsive"%></dt>
                    <dd>
                        <p><%= link_to "Workshop 2014 Avances y desafíos del proyecto FONDEF D11I1060", workshop_august_2014_path %></p> 
                    </dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt><%= image_tag "news/ivoa_newsletter_012_may_2014.jpg", class: "img-responsive"%></dt>
                    <dd>
                        <p><%= link_to "IVOA Newsletter 012 - May 2014", ivoa_newsletter_012_may_2014_path %></p> 
                    </dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt><%= image_tag "news/chilean_joins_international_virtual_observatory.jpg", class: "img-responsive"%></dt>
                    <dd>
                        <p><%= link_to "Chilean joins International Virtual Observatory", chilean_joins_international_virtual_observatory_path %></p> 
                    </dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt><%= image_tag "news/chilean_development_of_astronomical_computing_for_alma.jpg", class: "img-responsive"%></dt>
                    <dd>
                        <p><%= link_to "Virtual Observatories: Chilean Development of Astronomical Computing for ALMA", chilean_development_of_astronomical_computing_for_alma_path %></p> 
                    </dd>
                </dl>
            </div><!--/posts-->
            <!-- End Posts -->
        </div>
        <!-- End Right Sidebar -->
    </div><!--/row-->        
</div>
