<!--
     This file is part of ChiVO, the Chilean Virtual Observatory
     Copyright (C) 2015 Jonathan Antognini Cavieres <jonathan.antognini@gmail.com>
                        Cesar Parra Moreno <cparra@csrg.cl>
                        Constanza Soto <constanza.soto.12@sansano.usm.cl>
                        Jose Miguel Castro <jcastro@csrg.cl>
                        Marco Salinas <marco.salinas.12@sansano.usm.cl>
                        Felipe Morales <felipe.moralesm.12@sansano.usm.cl>
                        Luis E. Arevalo R. <arevalo@luchox.cl>
     
     This program is free software; you can redistribute it and/or modify 
     it under the terms of the GNU General Public License as published by 
     the Free Software Foundation; either version 2 of the License, or 
     (at your option) any later version.
     
     This program is distributed in the hope that it will be useful,
     but WITHOUT ANY WARRANTY; without even the implied warranty of
     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
     GNU General Public License for more details.
     
     You should have received a copy of the GNU General Public License
     along with this program; if not, write to the Free Software
     Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 
     02110-1301, USA or visit <http://www.gnu.org/licenses/>.
-->


<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
  <div class="container">
    <h1 class="pull-left">Workshop August 2014 Program</h1>
    <ul class="pull-right breadcrumb">
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'All News', all_news_path %></li>
      <li class="active">Workshop August 2014 Program</li>
    </ul>
  </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container">   
  <div class="row blog-page blog-item">
        <!-- Left Sidebar -->
    	<div class="col-md-9 md-margin-bottom-60">
      	<div class="headline">
           	<h2><small>Workshop 2014 Avances y desafíos del proyecto FONDEF D11I1060:</small><br>"Plataforma Astroinformática para la Administración y Análisis  Inteligente de Datos a Gran Escala"</h2>
    	</div>
    	<div class="blog-post-tags">
            <ul class="list-unstyled list-inline blog-info">
                <li><i class="fa fa-calendar"></i>July 30, 2014</li>
                <li><i class="fa fa-pencil"></i> <a class="hover-effect" href="http://www.chivo.cl/">chivo.cl</a></li>
            </ul>                                       
        </div>
        <div class="blog-img">
            <%= image_tag "news/workshop_august_2014.jpg", class: "img-responsive"%>
        </div>
        <br>
      	<div align="justify">
      		<p>El Observatorio Virtual Chileno (ChiVO) es uno de los proyectos actualmente en curso en el mundo que busca contener los datos astronómicos en sistema transparente, permitiendo que la información esté a disposición de todos los investigadores, independiente de su afiliación o el acceso a instalaciones de observación Con el objetivo de construir una red de trabajo consolidada y llevar a cabo una labor coordinada con las instituciones participantes en este proyecto, se realizará el segundo Workshop denominado como "Avances y desafíos del Proyecto FONDEF D11I1060”. Esta actividad se desarrolla en el marco del proyecto “Plataforma astroinformática para la Administración y Análisis Inteligente de Datos a gran Escala”, el cual busca administrar y analizar los cerca de 250 terabytes de datos anuales que generará ALMA, y es organizado por la Universidad Técnica Federico Santa  María, Pontificia Universidad Católica de Chile, Universidad de Chile, Universidad de Santiago, y Universidad de Concepción, junto al Observatorio Atacama Large Millimeter/submillimeter Array (ALMA) y Red Universitaria Nacional (REUNA).</p>
			<p>El workshop presentará el trabajo desarrollado por las siguientes instituciones: Universidad Técnica Federico Santa  María, Pontificia Universidad Católica de Chile, Universidad de Chile, Universidad de Santiago y Universidad de Concepción, donde estas expondrán sus avances con respecto sus respectivas investigaciones y contribuciones al proyecto. Siendo esta una instancia de retroalimentación entre estas organizaciones participantes. Así como también se generará la oportunidad de dar a conocer el proyecto a la comunidad, quienes  tendrán la posibilidad de conocer en más detalle el proyecto.</p>
      		<p>La inscripción se debe realizar en el siguiente link:<a href="https://docs.google.com/forms/d/1jn0Tqvyqz6LshfMIhhZaUFcctHb_TMVzFEBX3jwBytY/viewform?c=0&w=1"><li class="active">Workshop Registration</li></a></p>
      	</div>
      	<p>A continuacion te presentamos el programa correspondiente al workshop del dia 1 de Agosto del 2014:</p>
      	<table class="table table-striped"><col><col width="120"><col width="200"><col>
        	<thead><tr><th>Horario</th><th>Actividad</th><th>Presentador</th><th>Nombre presentacion</th></tr></thead>
        	<tbody>
	          <tr><td>9:30</td><td>Inscripción</td><td></td><td></td></tr>
		      <tr><td>9:50</td><td>Saludo Director</td><td>Mauricio Solar (UTFSM)</td><td></td></tr>
		      <tr><td>10:00</td><td>Presentación 1</td><td>Mauricio Solar (UTFSM)</td><td>Diseño Conceptual de una Observatorio Virtual Astronómico para ALMA</td></tr>
		      <tr><td>10:20</td><td>Presentación 2</td><td>Marcelo Mendoza (UTFSM)</td><td>Unsupervised object detection in grayscale morphological images with flat structuring elements</td></tr>
		      <tr><td>10:40</td><td>Presentación 3</td><td>Ricardo Contreras (UDEC)</td><td>Clasificación de Galaxias según su morfología mediante redes neuronales artificiales</td></tr>
		      <tr><td>11:00</td><td>Cofee</td><td></td><td></td></tr>
		      <tr><td>11:30</td><td>Presentación 4</td><td>Rodrigo Jara (USACH)</td><td>Registro de imágenes astronómicas</td></tr>
		      <tr><td>12:00</td><td>Presentación 5</td><td>Karin Pichara (PUC)</td><td>Descripción del Problema de Detección, Caracterización y Clasificación de Líneas Espectrales Utilizando Descriptores Estadísticos</td></tr>
		      <tr><td>12:30</td><td>Presentación 6</td><td>Rodrigo Gregorio (UTFSM)</td><td>Detección y Clasificación automática de Estructuras a Distintas Escalas Espaciales en Imágenes Astronómicas</td></tr>
		      <tr><td>13:00</td><td>Presentación 7</td><td>Neil Nagar (UDEC)</td><td>Aplicación de Stacking a Imágenes Astronómicas</td></tr>
		      <tr><td>13:30</td><td>Almuerzo</td><td></td><td></td></tr>
		      <tr><td>14:30</td><td>Presentación 8</td><td>Nicolás Miranda (UCH)</td><td>Molecular Lines Association Analysis</td></tr>
		      <tr><td>15:00</td><td>Presentación 9</td><td>Mauricio Araya (UTFSM)</td><td>ASYDO-Astronomical Synthetic Data Observatory</td></tr>
		      <tr><td>15:30</td><td>Presentación 10</td><td>Jonathan Antognini (UTFSM)</td><td>Chilean Virtual Observatory</td></tr>
		      <tr><td>16:00</td><td>Presentación 11</td><td>Jorge Ibsen (ALMA)<br> Paola Arellano (REUNA)</td><td>Evaluación  y Desafíos de la Continuidad del proyecto.</td></tr>
	          <tr><td>16:30</td><td>Cierre</td><td>Mauricio Solar (UTFSM)</td><td></td></tr>
            </tbody>
      </table>
      </div>
        <!-- End Left Sidebar -->
        <!-- Right Sidebar -->
        <div class="col-md-3 magazine-page">    
            <!-- Posts -->
            <div class="posts margin-bottom-40">
                <div class="headline headline-md"><h2>Recent News</h2></div>
                <dl class="dl-horizontal">
                    <dt><%= image_tag "news/spie_astronomical_telescopes_instrumentation_2014.jpg", class: "img-responsive"%></dt>
                    <dd>
                        <p><%= link_to "SPIE Astronomical Telescopes + Intrumentation 2014", spie_astronomical_telescopes_instrumentation_2014_path %></p> 
                    </dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt><%= image_tag "news/ivoa_newsletter_012_may_2014.jpg", class: "img-responsive"%></dt>
                    <dd>
                        <p><%= link_to "IVOA Newsletter 012 - May 2014", ivoa_newsletter_012_may_2014_path %></p> 
                    </dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt><%= image_tag "news/chilean_joins_international_virtual_observatory.jpg", class: "img-responsive"%></dt>
                    <dd>
                        <p><%= link_to "Chilean joins International Virtual Observatory", chilean_joins_international_virtual_observatory_path %></p> 
                    </dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt><%= image_tag "news/chilean_development_of_astronomical_computing_for_alma.jpg", class: "img-responsive"%></dt>
                    <dd>
                        <p><%= link_to "Virtual Observatories: Chilean Development of Astronomical Computing for ALMA", chilean_development_of_astronomical_computing_for_alma_path %></p> 
                    </dd>
                </dl>
            </div><!--/posts-->
            <!-- End Posts -->
        </div>
        <!-- End Right Sidebar -->
    </div><!--/row-->
  </div>
</div>
