/* 
 * This file is part of ChiVO, the Chilean Virtual Observatory
 * A project sponsored by FONDEF (D11I1060)
 * Copyright (C) 2015 
 *      Universidad Tecnica Federico Santa Maria Mauricio Solar
 *                                               Marcelo Mendoza
 *      Universidad de Chile                     Diego Mardones
 *      Pontificia Universidad Catolica          Karim Pichara
 *      Universidad de Concepcion                Ricardo Contreras
 *      Universidad de Santiago                  Victor Parada
 *
 * This program is free software; you can redistribute it and/or modify 
 * it under the terms of the GNU General Public License as published by 
 * the Free Software Foundation; either version 2 of the License, or 
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 
 * 02110-1301, USA or visit <http://www.gnu.org/licenses/>.
*/


$(".has-error").removeClass("has-error"); //=> remove all error marks from form (remove red frame)
var has_error = "";

$actions_state = $("#actions_states");

function update_action_state (add_class, strong, text) {
    $actions_state.removeClass("alert-warning alert-success alert-danger alert-info")
            .addClass(add_class).text("")
            .append("<strong></strong> " + text)
            .find("strong").text(strong);
}

$pass = true;

if (("<%=@params[:ra]%>"=="")||("<%=@params[:dec]%>"=="")) {
    update_action_state("alert-danger","Oh snap!", "cordinates not added to the query list by empty RA Dec field");
    $pass = false;
}
else if (("<%=@params[:size]%>"=="")){
    update_action_state("alert-danger","Oh snap!", "cordinates not added to the query list by empty Size field");
    $pass = false;
}

if ($pass){
    <% @errors.each do | id | %>
        $("#<%=id%>").parent().addClass("has-error"); //=> add error mark to form
        has_error = has_error + "<br>ERROR: <%=id%>";
    <% end %>

    if (!has_error) {

        $table = $("#query_list_table_tbody");
        tr_amount = $table.find("tr").size();
        id = 0;
        if (tr_amount == 0){
            id = 1
        }
        else {
            id = parseInt($table.find("tr").last().attr('id')) + 1;
        }

        parameters = "Submitted data:";
        <% @params.each do |key, value| %>
            parameters = parameters + "<br> <%=key.upcase%>:  <%=value%>";
        <% end %>

        $newTR = $("<tr id="+id+'> <input type="hidden" name="url_params_'+id+'" value="<%=@url_params%>"> <td><%=@params[:ra]%>,<%=@params[:dec]%></td><td><%=@params[:size]%></td><td></td><td></td><td>'+parameters+"</td></tr>");
        // parameters' td should be hidden originaly, but a pop up must appear on mouseover

        var multi_select = $('<select/>',{
            id: 'multi_select_resource'+id,
            multiple: 'multiple',
            style: 'float:center',
            name: 'resource_'+id+'[]'
        });

        var delete_button = $('<a/>',
        {
            class: 'btn btn-danger btn-xs',
            style: 'height:20px',
            text: '',
            click: function () {
                $(this).closest("tr").remove();
             }
        });

        var trash_icon = $('<i/>',{class: 'fa fa-trash-o fa-fw '});
        delete_button.prepend(trash_icon);

        $newTR.find("td").last().prev().prev().append(multi_select);
        $newTR.find("td").last().prev().append(delete_button);

        var config = {
        buttonWidth: '400px',
        buttonClass: 'btn btn-default btn-sm',
        includeSelectAllOption: false,
        enableCaseInsensitiveFiltering: true,
        enableFiltering: true,
        maxHeight: 200,
        checkboxName: '',
        filterPlaceholder: 'Search',
        selectedClass: null,
        onChange: function(option, checked) {
                var selectedOptions = multi_select.find('option:selected');
                    if (selectedOptions.length == 0) {
                    multi_select.multiselect('select', option.val());
                }

            }
        }

        multi_select.multiselect(config);

        var data = new Array();
        <% sources = Rails.cache.read("ssa_sources") %>
        <% sources.each do | key, value | %>
            var hash = {
                label: "<%= key[0] %>",
                value: "<%= key[0] %>*@*<%= value[0] %>"
            };
            data.push(hash);
        <% end %>


        multi_select.multiselect('dataprovider', data);

        $table.append($newTR);

        $( ".form-control" ).each(function() {
          $( this ).val( "" );
        });
        update_action_state("alert-success", "Well done!", "cordinates added to the query list");
    }


    else {
        $("#query-form-panel-body").append(has_error); //=> if theres an error, it's printed
    }
}
