$("#estate_process_query_list").removeClass("fa fa-spinner fa-spin fa-lg");
$('#resource_list').find('li').remove();
$('#resource_content').children('div').remove();
<% @votables.each_with_index do |(key, value), index| %>

	$("#query_result").append($('<div class="resource_<%= index %>"></div>'));

	myVoview =  new voview({input: {form: "searchForm"}, widgetID: "resource_<%= index %>"});
	myVoview.renderObject.enableRowSelection();
	myVoview.gotVotable($.parseXML("<%= escape_javascript(value) %>"));
	
	$resource = $('.resource_<%= index %>');

	$li = $("<li></li>");
	$a = $('<a href="#test<%= index %>" data-toggle="tab"><%= key %></a>');
	$li.append($a);

	$tab = $('<div class="tab-pane" id="test<%= index %>"><%= key %></div>');
	$tab.append($resource);

	$('#resource_list').append($li);
	$('#resource_content').append($tab);

	var table = document.getElementById("resource_<%= index %>_data");
	for (var i = 0; i < table.rows.length ; i++) {
		row = table.rows[i];
		for (var j = 0; j < row.cells.length ; j++ ){
			cell = row.cells[j]
			if(cell.innerHTML.search("http")!=-1){
				var url = cell.innerHTML;
				url='<a href=' + url + '>' + url + '</a>';
				cell.innerHTML = url;
			}
		}
	}

<% end %>
