<!-- 
     This file is part of ChiVO, the Chilean Virtual Observatory
     A project sponsored by FONDEF (D11I1060)
     Copyright (C) 2015 
          Universidad Tecnica Federico Santa Maria Mauricio Solar
                                                   Marcelo Mendoza
          Universidad de Chile                     Diego Mardones
          Pontificia Universidad Catolica          Karim Pichara
          Universidad de Concepcion                Ricardo Contreras
          Universidad de Santiago                  Victor Parada

     This program is free software; you can redistribute it and/or modify 
     it under the terms of the GNU General Public License as published by 
     the Free Software Foundation; either version 2 of the License, or 
     (at your option) any later version.

     This program is distributed in the hope that it will be useful,
     but WITHOUT ANY WARRANTY; without even the implied warranty of
     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
     GNU General Public License for more details.

     You should have received a copy of the GNU General Public License
     along with this program; if not, write to the Free Software
     Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 
     02110-1301, USA or visit <http://www.gnu.org/licenses/>.
-->


<%= form_tag "/query/all_searches", remote: true, class: 'form-horizontal', role: 'form', method: 'get' , name: 'almaSearch' do %>

<div id="actions_states" class="alert fade in alert-info" style="margin-bottom:0px">
    <strong>Heads up! </strong> This will show the states of actions
</div>
<table id="table_query" class="" >
	<thead>
		<tr>
			<th>	
				<%= submit_tag 'Process', class: 'btn btn-default ', style: "display:inline-block" %>
				<%= button_tag 'Reset', type: 'reset', class: 'btn btn-default ', style: "display:inline-block" %>	
			</th>
			<th>
			</th>
			<th></th>
			<th>
				<span id="flag" class="fa-stack fa-lg" style="float:right">
				  <i class="fa fa-circle fa-stack-2x"></i>
				  <i class="fa fa-flag fa-stack-1x fa-inverse"></i>
				</span>

				<span id="info_states" class="fa-stack fa-lg" style="float:right">
				  <i class="fa fa-circle fa-stack-2x"></i>
				  <i class="fa fa-info fa-stack-1x fa-inverse"></i>
				</span>
			</th>		
			</tr>	
	</thead>
	<tbody>
		<tr>
			<td id="position" class="tag-box tag-box-v6 col-sm-3" >
				<%= render 'query/type_alma/boxes/position' %>
			</td>
			<td id="energy" class="tag-box tag-box-v6 col-sm-3">
				<%= render 'query/type_alma/boxes/energy' %>
			</td>
			<td id="time" class="tag-box tag-box-v6 col-sm-3">
				<%= render 'query/type_alma/boxes/time' %>								  	
			</td>
			<td id="polarisation" class="tag-box tag-box-v6 col-sm-3">
				<%= render 'query/type_alma/boxes/polarization' %>								  	
			</td>
		</tr>
		<tr>
			<td id="observation" class="tag-box tag-box-v6 col-sm-3" >
				<%= render 'query/type_alma/boxes/observation' %>				  	
			</td>
			<td id="project" class="tag-box tag-box-v6 col-sm-3" >
				<%= render 'query/type_alma/boxes/project' %>
			</td>
			<td id="empty_td" class="tag-box tag-box-v6 col-sm-3">
				<div >                        
					<h4></h4>                        
					<p></p>						    	                   
				</div>
			</td>
			<td id="options" class="tag-box tag-box-v6 col-sm-3" >
				<%= render 'query/type_alma/boxes/options' %>
			</td>
		</tr>
	</tbody>
</table>
<% end %> <!--=== End Form ===-->
